:root {
    --primary-color: #055a05;
    --secondary-color: #f4a261;
    --accent1-color: #264653;
    --accent2-color: #e9c46a;
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header,
main,
footer {
    max-width: 840px;
    margin: 0 auto;
}

header {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    background-color: var(--primary-color);
    padding: 1rem;
}

.history-content {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    gap: 1rem;
    align-items: center;
}

.history img {
    width: 200px;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    padding: 0;
    margin: 0;
}

nav a {
    display: block;
    padding: 0.5rem 1rem;
    background-color: var(--accent2-color);
    color: var(--accent1-color);
    text-decoration: none;
    font-weight: bold;
    border-radius: 6px;
}

nav a:hover {
    background-color: var(--secondary-color);
    color: #fff;
}

header img {
    border: 3px solid var(--secondary-color);
    border-radius: 50%;
    padding: 0.5rem;
    background-color: white;
}

header img:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

header img {
    width: 120px;

    height: auto;

}

footer {
    background-color: var(--secondary-color);
    padding: 20px;
    text-align: center;
    margin-top: 20px;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #fff;
}

.hero article {
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
    background-color: rgba(135, 206, 235, 0.6);
    padding: 16px;
    color: var(--accent1-color);
}

.hero article img {
    float: right;
    width: 125px;
    margin-left: 16px;
    border: 2px solid var(--accent2-color);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.adventure-gallery {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem;
    text-align: center;
}

.adventure-gallery img {
    width: 100%;
    height: auto;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--secondary-color);
    padding: 20px;
}

.socialmedia {
    display: flex;
    gap: 1rem;
}

.socialmedia img {
    width: 40px;
}