body {
    background-color: #632432;
    font-family: Arial;
}

#main-container {
    margin: 150px auto;
    width: 80%;
}

table {

    background-color: white;
    width: 100%;

}

th,
td {
    border: solid 1px black;
    padding: 20px;
    text-align: left;
    width: 50%;

}

thead {
    background-color: #246355;
    border-bottom: solid 5px #0F362D;
    color: white;
}

tr:nth-child(even) {
    background-color: #ddd;
}