* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

:root {
    --primary-color: darkblue;
    --secondary-color: white;
    --text-color-dark: #fff;
    --background-light: #eee;

    --border-color: black;
    --border-standard: 1px solid black;
    --border-soft: 1px solid rgba(0, 0, 0, 0.2);

    --box-shadow-standard: 0 0 30px gray;

    --img-small-width: 150px;
    --img-medium-width: 200px;
}

main {
    max-width: 840px;
}

body {
    font-size: 16px;
    font-family: Roboto, Arial, sans-serif;
}

nav {
    display: flex;
    gap: 20px;
    background-color: #1e3a8a;
    padding: 15px;
}

nav a {
    text-decoration: none;
    padding: 10px 20px;
    color: white;
}

h1 {
    color: var(--primary-color);

}

main img {
    width: var(--img-small-width);
    height: auto;
    border: var(--border-standard);
    padding: 2px;
    box-shadow: var(--box-shadow-standard);
    float: right;
    margin: 0 0 1rem 1rem;
}

p {
    margin: 1rem;
}

aside {
    width: 20rem;
    margin: 1rem;
    border: var(--border-soft);
    padding: 1rem;
    background-color: var(--background-light);
    color: var(--text-color-dark);
    text-align: center;
    position: relative;
}

aside img {
    width: var(--img-medium-width);
    height: auto;
}

aside h2 {
    position: absolute;
    top: 190px;
    left: 100px;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    text-shadow:
        1px 1px 0 #000,
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000;

}

footer {
    margin-top: 15px;
    border-top: 1px solid var(--border-color);
    text-align: center;

}

/*Class selector*/
.box {
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, .1);
    padding: 1rem;
    background-color: #eee;
    color: #000;

}

.indent {
    padding-left: 2rem;
}